/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* CSS Variables */
:root {
    --primary-color: #9d695a;
    --secondary-color: #d496a7;
    --accent1-color: #a1cdf1;
    --accent2-color: #78E0DC;
    --nav-background-color: #de6b48;
    --nav-link-color: #35b181;
    --nav-hover-link-color: #f4b9b2;
    --nav-hover-background-color: #daedbd;
    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Roboto', sans-serif;
}

/* General Styles */
body {
    font-family: var(--paragraph-font);
    background-image: url(images/happy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--primary-color);
}

h1, h2 {
    font-family: var(--heading-font);
}

h1 {
    position: absolute;
    margin: 1rem;
    border: 1px solid #000;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 95%;
    left: 0;
    top: 50%;
    text-align: center;
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
}

p {
    padding: 1.2px;
    font-size: 17px;
}

/* Header Styles */
header {
    padding: 15px;
    background-color: var(--accent1-color);
    font-size: 10px;
    border: 5px solid rgba(0,0,0,.1);
}

header img {
    position: relative;
    top: 30px;
    left: 90px;
    height: 170px;
}

/* Nav Styles */
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    font-size: 1.2rem;
    height: 50px;
    grid-row-start: 3;
    grid-column-start: 2;
}

/* Footer Styles */
footer {
    border: 5px solid rgba(0,0,0,.1);
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

.grids {
    display: grid;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.sociallinks {
    grid-column: 5 / 5;
    margin: 1rem;
    font-size: 1.2rem;
    display: flex;
}

.sociallinks img {
    height: 50px;
}

/* Main Styles */
main img {
    border: 5px solid rgba(0,0,0,.1);
}

.hero img {
    position: relative;
    width: 100%;
    height: auto;
}

.inside {
    position: absolute;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 15px;
    background-color: #247;
    color: white;
    display: block;
    width: 80%;
    left: 8%;
    top: 70%;
    opacity: 0.8;
}

.inside img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 250px;
    height: auto;
}

.inside h2 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr;
    grid-template-rows: 10% 20% 30%;
    padding: 2px;
}

/* Grid Styles */
.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 20% 30%;
}

.history-border {
    text-align: center;
    font-size: 1.3rem;
    border: 5px solid rgba(0,0,0,.1);
    padding: 10px;
}

.figures, .employees, .trips {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 110px;
    margin: -10px;
}

figure img {
    max-width: 110px;
    max-height: 60%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border: thin #c0c0c0 solid;
}

/* Form Styles */
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: var(--paragraph-font);
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    float: left;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1, .column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.subscription {
    font-size: 15px;
    padding: 5px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    font-family: var(--paragraph-font);
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 50px 10% 0;
    width: 80%;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead, tfoot {
    background-color: rgb(228, 240, 245);
}

th, td {
    border: 1px solid rgb(160, 160, 160);
    padding: 15px;
    text-align: center;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237, 238, 242);
}

.map {
    margin: 3% 20%;
}

/* Booking Styles */
.booking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    font-size: 1.2rem;
    height: 50px;
    grid-row-start: 3;
    grid-column-start: 2;
}
